<html ng-app="meditationApp">
<head>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/flipclock.css" /> 
	<link rel="stylesheet" href="static/css/main.css">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Minimal Meditation Timer - A Minimalist Meditation Timer with Goals, Tracking, and More.</title>
</head>

<body ng-controller="ClockCtrl">
<div class="container">

<h1>
	Minimal Meditation
	<br />
	<small>A minimalist meditation timer with<br />goals, tracking, and more.</small>
</h1>


<br />

<!-- Begin clock section-->
<div id="clockDiv">
	<div clock countdown="true" clock-face="MinuteCounter" duration="{{duration}}" start="{{begin}}", stop="trackTime(duration)" sound="bell">	
	</div>

	<h1> {{result}} </h1>
</div>
<!--End cock section-->

<!--Timer selection section-->
<div id="selectTime" ng-hide="result">
	<p class="lead">How many minutes would you like to meditate?</p>

	<span class="lead"> Minutes: </span><input type="text" ng-change="convertDurationToSeconds(minutes)" ng-model="minutes" /> 
	
	<span ng-show="duration">({{duration}} seconds)</span>

	<br />
	
	<button class="btn btn-primary" ng-click="begin()">Start</button>
</div>
<!--End timer selection section-->

<hr />

<!--Goal section-->
<div id="goal">
	
	<span class="lead"> Your goal is <strong>{{goal | minutes}}</strong> per day.</span> 
	<a href="" ng-click="showGoalChanger = !showGoalChanger">(Change goal)</a>
	
	<!-- Begin goal change functionality -->
	<div ng-show="showGoalChanger" id="changeGoal">
		<input type="text" class="smallInput" ng-model="goalChange.minutes"> minutes and 
		<input type="text" class="smallInput" ng-model="goalChange.seconds"> seconds.
		<br /><br />
		<button class="btn btn-sm" ng-click="changeGoal(goalChange.minutes, goalChange.seconds)">Update Goal</button>
	</div>
	<!-- End goal change functionality-->

</div>
<!--End Goal section-->

<hr />

<!--Streak tracking session-->
<div id="streak">
	<span class="lead" ng-show="streakData.streakDays"> 
		You're going strong at <strong>{{streakData.streakDays}}</strong> days without missing a session!
	</span> 
	<span class="lead" ng-show="!streakData.streakDays"> 
		No streak at the moment. Let's meditate to fix that!
	</span>
</div>
<!--End streak tracking section-->

<!--Goal visualization-->
<div id="goal-visual">
	<div class="chart" google-chart="ColumnChart" ng-model="streakData.visual" trigger="activateChart"></div>
	<br />
</div>
<!--End goal visualization-->

<hr />

<!--Past activity section-->
<div id="activity" ng-show="pastActivity">
	<h3> Past Meditation Sessions </h3>
	<ul id="history">
		<li ng-repeat="session in pastActivity track by $index">
			<span ng-class="{successful : session.reachedGoal}">
				{{ session.date | date:'shortDate' }}: {{ session.duration | minutes }} - <em>Goal:</em> <strong>{{ session.goal | minutes }}</strong>
			</span>
			<button class="btn btn-xs" ng-click="deleteSession(session, $index)">Delete</button>
		</li>
	</ul>
</div>
<!--End past activity section-->

</div> <!--.container div-->

<audio id="bell">
  <source src="static/audio/small-bell.mp3" type="audio/mpeg">
  <!--<source src="small-bell.ogg" type="audio/ogg">-->
  <embed height="0" width="0" src="audio/small-bell.mp3">
</audio>

<script src="https://www.google.com/jsapi" type="text/javascript"></script>
<script src="static/js/lib/jquery-1.11.0.min.js"></script>
<script src="static/js/lib/angular.min.js"></script>
<script src="static/js/lib/flipclock.js"></script>
<script src="static/js/meditation_script.js"></script>

</body>

</html>