.smallInput {
	width: 50px;
}

.successful {
	background-color: LightGreen;
	display: inline-block;
}

#history li > span {
	margin-right: 5px;
	padding-right: 5px;
}

#streak, #goal-visual, .chart, #activity  {
	display: block;
	clear: both;
}

/*#goal-visual {
	margin-left: -10px;
}*/

.chart {
	float: left;
}

hr {
	clear: both;
}

.bigGraph {width:500px;height:500px;float:left;}
.mediumGraph {width:400px;height:400px;float:left;}
.smallGraph {width:200px;height:200px;float:left;}